{% extends "base.html" %}
{% block content %}
<div class='questions'>
    <h2 class='question__title'> <a> {{ question.question_text }} ? </a> </h2> <br>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action='{% url "vote" question.id %}' method='POST'>
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
             <p>
                <label class='question__choice' for='choice{{ forloop.counter }}'>
                    <input name="choice" type="radio" value='{{ choice.id }}' id="choice{{forloop.counter}}" />
                    <span>{{choice.choice_text}}</span>        
                </label>
            </p>
        {% endfor %}
        
        <br>
        <input class='button' type='submit' value='Vote'/>
    </form>
        
</div>
{% endblock %}
