{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Polly Detail</title>

    <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
</head>
<body>
    <h1 align='center' class='logo'><a href='/'> Polly <a/></h1>
    <hr>
    <div class='questions'>
        <h2 class='question__title'> <a> {{ question.question_text }} ? </a> </h2> <br>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <form action='{% url "vote" question.id %}' method='POST'>
            {% csrf_token %}
            {% for choice in choices %}
                <input type='radio' name='choice' id='choice{{ forloop.counter }}' value='{{ choice.id }}'>
                <label class='question__choice' for='choice{{ forloop.counter }}'>{{choice.choice_text}} </label> <br> <br>
            {% endfor %}
            <br>
            <input class='button' type='submit' value='Vote'/>
        </form>
    </div>
</body>
</html>
