{% extends "base.html" %}
{% block content %}
<div class='questions'>
    <h5 class='question_heading'>Recent questions</h5>
    <ol>
        {% for question in questions %}
        <a href='{% url "detail" question.id %}'>
            <li class='questions__item waves-effect'>
                <h3 class='question__title'> <span>{{forloop.counter}}. </span>  {{ question.question_text }} ?</h3>
                <p class='question__date'>Published at {{ question.pub_date }}</p>
            </li>
        </a>
        {% endfor %}
    <ol>
</div>
{% endblock %}
